@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div id="Padre">
        <div class="TituloCentral">
            <h1> Bienvenido Adminsitrador </h1>
        </div>
        <div id="Rutas">
            <img src="~/css/Esquina noroeste rutas.png">
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Bienvenidos a Transport</h1> 
        <p>Acerca de nosotros <a href="#">Informativo</a>.</p>
    </div>
}
